.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 150px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}