<mat-list role="list">

    <div class="profile-card">
        <img src="https://th.bing.com/th/id/OIP.-glC23wRNk7QJjDsBs-_9wHaJQ?pid=ImgDet&rs=1" alt="">
        <h3>ATHUL S PILLAI</h3>
        <h4>athulspillai@gmail.com</h4>
    </div>

    <mat-divider></mat-divider>
    <h4 mat-subheader>Pages</h4>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard </a>
    <a mat-list-item routerLinkActive="list-item-active">Instituation</a>
    <a mat-list-item routerLinkActive="list-item-active">Students</a>
    <a mat-list-item routerLinkActive="list-item-active">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active">Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active">Courses</a>
    <a mat-list-item routerLinkActive="list-item-active">Employees</a>
  </mat-list>
  
